*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading{
    background-color: #1E1E24;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.act-head{
    color: white;
    width: 100%;
    text-shadow: #f31f1b 0.5px 0 5px;
    text-align: center;
}

.vmf{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    margin-top: 2.2rem;
    gap: 1.5rem;
}

.box{
    height: auto;
    width: 30%;
    padding: 2rem;
    color:white;
    background-image: url(i8.jpg);
    background-size: cover;
    box-shadow: 
    6px 6px 15px rgba(0, 0, 0, 0.7),
   -4px -4px 10px rgba(255, 255, 255, 0.05);
}

.box p{
    text-align: center;
}

.next-page{
    text-align: end;
    height: 5rem;
    max-height: 40px;
    margin-top: 3.5rem;
    background-color: #91171F;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
}

.np{
    background-color: white;
    height: 2rem;
    width: 6rem;
    border-radius: 1rem;
    margin-right: 2rem;
}

.np a{
    text-decoration: none;
    color: black;
}

.tg{
    height: 2.8rem;
    width: 6.8rem;
    border-radius: 10px;
    background-color: rgb(244, 56, 100);
    color: white;
    margin-left: 7rem;
    margin-top: 1rem;
    border: none;
}

@media(max-width: 640px){
   .act-head{
    font-size: 0.8rem;
   }
}