*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading{
    background-color: #1E1E24; 
    color: white; 
    text-align: center; 
    padding: 2rem;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex; 
    justify-content: space-between; 
    margin-top: 2.8rem;
    gap: 1.1rem;
}

.bx{
    color: white; 
    height: auto; 
    width: 30%;
    padding: 1rem;
}

.heading h1{
    text-shadow: #f31f1b 0.5px 0 5px;
}

.next-page{
    text-align: end;
    height: 5rem;
    max-height: 40px;
    margin-top: 3rem;
    background-color: #91171F;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
}

.np{
   background-color: white;
    height: 2rem;
    width: 6rem;
    border-radius: 1rem;
    margin-right: 2rem;
}

.np a{
    text-decoration: none;
    color: black;
}

.images{
    display: flex; 
    justify-content: center;
    gap: 0.2rem;
}

.images img{
    width: 25%;
    height: auto;
    margin-top: 0.01rem; 
    margin-left: 0.7rem;
}

.bx{
    background-image: url(i5.jpg);
    background-size: cover;
    box-shadow: 5px 5px red;
}
ul, ol, dl{
    margin-left: 3rem;
}

.i{
    margin-top: 3rem;
}

.i1{
    gap: 1rem;
    margin-left: 0.5rem;
}

@media(max-width: 640px){
   ul, dl, ol{
    font-size: 0.5rem;
   }
}
