*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading{
    background-color: #1E1E24;
    color:white;
    width: 100%;
    max-height: 8.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.act-head h1{
    text-shadow: #ffcc00 0.3px 0 5px;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.des-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #91171F;
    margin-top: 2.2rem;
    height: 3.5rem;
    font-size: clamp(1rem, 3vw, 1.5rem)
}

.des{
    margin-top: 2.2rem;
}

.next-page{
    text-align: end;
    height: 5rem;
    max-height: 40px;
    margin-top: 3.5rem;
    background-color: #91171F;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
}

.np{
    background-color: white;
    height: 2rem;
    width: 6rem;
    border-radius: 1rem;
    margin-right: 2rem; 
}

.np a{
    text-decoration: none;
    color: black;
}

.t3{
    margin-top: 20px;
}

.box{
    box-shadow: 10px 5px 5px rgb(213, 121, 239);
    width: 28%;
    height: auto;
    object-fit: contain;
}

.t3 h2{
     color: #91171F;
     text-align: center;;
}

.view{
    display: flex; 
    justify-content: space-between; 
    margin-top: 45px
}

.status{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    font-size: clamp(0.5rem, 2vw, 1.2rem);
    color: rgb(86, 223, 86);
    font-weight: 5000;
}

#cat{
    text-align: center;
}

@media(max-width: 640px){
    .des p{
        font-size: 1rem;
    }

    .t3{
        font-size: 1rem;
    }
}
