*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-image: url(/im2.png);
    background-size: cover;
}

.heading{
    background-color: #1E1E24;
    color:white;
    width: 100%;
    height: 4.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video{
    display: flex; 
    justify-content: space-evenly;
    margin-top: 0.5rem;
}

.cont2{
     margin-top: 2rem;
}

video{
     width: 40vw; 
    height: 60vh;
    margin: 0rem 0rem 0rem 3rem;
}

iframe{
    width: 40vw; 
    height: 60vh;
}