*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading{
    color: white;
    background-color: #1E1E24;
    color: white;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
     font-size: clamp(1.2rem, 4vw, 2rem);
}

.heading h1{
     text-shadow: #f31f1b 0.5px 0 5px;
}

.nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(0.5rem, 1vw, 2rem);
    background-color: #91171F;
    margin-top: 1.8rem;
    height: 3rem;
    width: 100%;
    flex-wrap: wrap;
}

.nav-box a{
    text-decoration: none;
    color: white;
}

.nav-box a:hover{
    border: 2px solid white;
}

@media(max-width: 640px){
    .nav-box a{
        font-size: 0.5rem;
    }
}
@media(min-width: 641px)and(max-width: 750px){
    .nav-box a{
        font-size: 0.6rem;
    }
}