body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head{
    height: 2rem;
    background-color: #1E1E24;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.logo{
    width: 90px;
    justify-self: start;
}

.head a{
    color: white;
    margin-right: 2rem;
}

.head a:hover{
     color: #91171F;
}

.heading{
    background-color: #1E1E24;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    max-height: 8rem;
}

#home-title{
    color: white;
    margin-top: 1.2rem;
    text-align: center;
    font-size: clamp(1rem, 4vw, 2rem);
}

.title p{
    color:white;
    text-align: center;
    font-size: clamp(0.5rem, 3vw, 1.2rem);
}

.title{
    text-align: center;
    justify-self: center;
}

.t2{
    height: 4rem;
    background-color: #91171F;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#title2{
    text-align: center;
    margin-top: 1.1rem;
    color: white;
    font-size: clamp(1rem, 4vw, 2rem);
}

.t2 p{
    font-size: clamp(0.01rem, 2vw, 1rem);
}

.next-page{
    text-align: end;
    height: 5rem;
    max-height: 40px;
    margin-top: 3.5rem;
    background-color: #91171F;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
}

.np{
    background-color: white;
    height: 2rem;
    width: 6rem;
    border-radius: 1rem;
    margin-right: 2rem; 
}

.np a{
    text-decoration: none;
    color: black;
}

.box{
    box-shadow: 10px 5px 5px rgb(213, 121, 239);
    width: 24%;
    height: auto;
    object-fit: contain;
}

#about{
    text-align: center;
}

.logo img{
    height:auto;
    width:100%;
    display: block;
}

.t3 h2{
     color: #91171F;
     text-align: center;;
}

@media(max-width: 419px){
    .logo{
        width: 60px;
    }

    #home-title{
        font-size: clamp(0.3rem, 2vw, 0.8rem);
    }
}

 @media((min-width: 420px)and (max-width: 680px)){
     .logo{
        width: 75%;
     }

     #home-title{
        font-size: clamp(0.5rem, 3vw, 1rem);
     }
} 